<h1>Books</h1>

<h2>New book</h2>
<%= form_with model: @book, url: '/books', method: :post do |f| %>
  <div class="field">
    <label>Title</label>
    <div><%= f.text_field :title %></div>
  </div>
  <div class="field">
    <label>Body</rebel>
    <div><%= f.text_area :body %></div>
  </div>

  <div class="actions"><%= f.submit 'Create Book' %></div>
<% end %>